.sectionHeader{
  display:block;
  width: 100%;
  text-align: center;
  color: var(--dm-navy);
  font-size: 2em;
  font-weight: 1000;

}

.serviceIcon{
  font-size: 4rem;
  color: rgba(128, 128, 128, 0.209);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}

.valuesContainer{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 237, 237);
  justify-content: space-around;
}

.servicesContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 237, 237);
  justify-content: space-around;
}

.valueCard {
  width: 45vw;
  /* max-height: 40em; */
  height:5rem;
  display: flex;
  position: relative;
  padding: 10px 2px;


}

.valueLabel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .9rem;
  font-weight: 800;
  z-index: 1;
  
}

.serviceThumb {
  max-width: 100%;
  object-fit: cover;
  filter:brightness(50%);
}

.serviceThumb:hover {
  filter:none;
  transition-duration: 200ms;
}

@media (width >= 768px) {
  .valueLabel {
    font-size: 1rem;
     color: rgba(128, 128, 128)
  }
  .valueCard {
    max-width: 30%;
  }
}
  
