.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dm9ig1vtk/image/upload/v1663018679/Dan%20Miller%20Gardens/image_1_uo8tnt.jpg");
  background-size:cover;
  height: 70vh;
}

.description {
  margin-top: 20vh;
  width: 50vw;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 10px;
}

.services {
  /* height: 40em; */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 237, 237);
  padding: 0 10%;
  /* justify-content: space-around; */
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:5px;
  border-radius: 10px;
  background-color:white;
  border: 2px solid;
  border-color: rgb(198, 198, 198);
  /* box-shadow: 1px 1px 1px black; */
  /* overflow:hidden; */
}

.serviceThumb{
  object-fit: cover;
  height: 14em;
  width: 14em;
  border-radius: 1em;
}

.serviceCard:hover {
  transform: scale(1.02);
  transition: scale 0.3s ease-in-out;
}

@media only screen and (max-width:600px) {
  .description {
    width: 85vw;
  }
}