
.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dm9ig1vtk/image/upload/v1663018679/Dan%20Miller%20Gardens/image_1_uo8tnt.jpg");
  background-size:cover;
  height: 70vh;
}

.description {
  margin-top: 20vh;
  width: 50vw;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 10px;
}

.servicesContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 237, 237);
  justify-content: space-around;
}

.serviceCard {
  max-width: 49%;
  max-height: 40em;
  display: flex;
  position: relative;
  padding: 10px 2px

  /* display: flex;
  overflow:hidden; */
}

.serviceLabel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-size: 2rem;
  font-weight: 800;
  z-index: 1;

  
}

.serviceThumb {
  max-width: 100%;
  object-fit: cover;
  filter:brightness(50%);
}

.serviceThumb:hover {
  filter:none;
  transition-duration: 200ms;
}

/* .serviceCards {
  
  width: 100vw;
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  background-color: rgb(237, 237, 237);
  
  justify-content: space-around;
}

.serviceCard {
  flex: 1 ;
  display: flex;
  width:50%;
  flex-basis:50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:5px;
  border-radius: 10px;
  background-color:white;
  border: 2px solid;
  border-color: rgb(198, 198, 198);
  overflow: hidden;

  overflow:hidden;
}

.serviceThumb{
  object-fit:cover;
  border-radius: 1em;
  overflow: hidden;

}

.serviceCard:hover {
  transform: scale(1.02);
  transition: scale 0.3s ease-in-out;
} */

@media only screen and (max-width:600px) {
  .description {
    width: 85vw;
  }
}

.sectionHeader{
  display:block;
  width: 100%;
  text-align: center;
  color: var(--dm-navy);
  font-size: 2em;
  font-weight: 1000;

}