.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 4.5em;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.662);
}

.navLinks {
  display: flex;
  justify-content: space-around;  
  align-items: center;
  text-decoration: none;
}

.link {
  padding: 5px;
  margin-right: 5%;
  align-self: center;
  text-decoration: none;
  color: black 
}

.link:hover {
  background: rgba(46, 81, 57, 0.255);
  color: white;
  border-radius: 5px;
}

.menuBtn {
  padding: 5px;
  margin-right: 5%;
  align-self: center;
  text-decoration: none;
  color: black; 
  display: none;
}

.menuBtn:hover {
  background: rgba(46, 81, 57, 0.255);
  color: white;
  border-radius: 5px;
}

.logo {
  max-height: 5rem;
  margin-left: 10px;
  margin-top: 10px
}

.logo:hover {
  transform: scale(1.02);
  transform-origin: left;
  transition: scale 0.3s ease-in-out;
}

@media only screen and (max-width:600px) {
  .navbar {
    height: 5em;
  }
  .menuBtn {
    display:block
  }
  .logo{
    height:5em;
    margin-top:5px
  }

  .navLinks {
    flex-direction: row-reverse;

  }

  .link {
    display:none
  }

}