.navbar {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  margin-top: 1em;
  text-decoration: none;
}

.link {
  padding: 5px;
  margin-right: 5%;
  align-self: center;
  text-decoration: none;
  color: black 
}

.link:hover {
  background: rgba(46, 81, 57, 0.255);
  color: white;
  border-radius: 5px;
}

.menuBtn {
  padding: 5px;
  margin-right: 5%;
  align-self: center;
  text-decoration: none;
  color: black; 
  display: none;
}

.menuBtn:hover {
  background: rgba(46, 81, 57, 0.255);
  color: white;
  border-radius: 5px;
}

.logo {
  max-height: 12rem;
  margin: 10px 0 0 10px;
}

.logo:hover {
  transform: scale(1.05);
  transform-origin: left;
}

.pageIndicator {
  background-color: navy;
  width: 80% ;
  height: 2px;
  margin: 0 auto;
}

@media only screen and (max-width:600px) {
  .menuBtn {
    display:block
  }
  .logo{
    width:70vw;
    justify-self: center;
    margin: 10px auto
  }

  .link {
    display:none
  }

  

}