.carouselWrapper{
  display: flex;
  margin-bottom: 5em;
  background-color: rgb(152, 180, 168);
}


.embla {
  overflow: hidden;
  border: 3px;
  border-color: black;
  width:94%
  /* display: flex; */
}
.embla__container {
  display: flex;
  /* flex: 80%; */
  /* overflow: hidden; */
}
.embla__slide {
  flex: 0 0 90%;
  margin-right: 6%;
  overflow: hidden;
  font-style: oblique;
  font-weight: bolder;
  /* border: 3px;
  border-style: solid;
  border-color: black; */

}

.prevButton {
  background:none;
  border-style: none;
  width:3%;
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  /* position:relative; */
  /* bottom: 3em
   */
}
.nextButton {
  background:none;
  border-style: none;
  width: 3%;
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}


.pic {
  max-width: 100%;
  height: auto;
  max-height: 70vh;
}
/* }

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 80%; 
  }
} */